body{
    background-color: #141217;
    color: #F5F2F7;
}

.hero-kaan{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
    padding: 40px;
}

.hero-kaan-img img{
    width: 100%;
    border-radius: 16px;
}

.hero-kaan-info{
    padding: 20px;
}

.kaandebanaan{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    background-color: #1D1921;
    width: 100%;
    border-radius: 14px;
    padding: 40px;
}

.column{
    background-color: #25212b;
    border-radius: 14px;
    padding: 20px;
}

.step {
    display: flex;
    gap: 15px;
    align-items: flex-start;
}

.step-number {
    border: 1px solid #5B3B8C;
    color: #A78BFA;
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: bold;
}