*{
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    background-color: #f5f5f5;
    font-family: monospace;
    font-weight: 400;

}

header {
    margin: 0px auto
}

.header {
    background-color: #439038;
    text-align: center;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
}

header img {
    width: 120px;
    height: auto;
}