* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

 @font-face {
    font-family: 'font';
    src: url();
  }


.backgroundimg {
    position: fixed;
  inset: 0;
  z-index: -1;
  background-color: rgb(78, 183, 76);
  background-image: url(../IMAGES/Kook\ achtergrond\ donker.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


header {
   font-size: 20px;
   text-transform: uppercase;
   position: relative;
   display: flex;
   justify-content: center;
   margin: 0 auto;
}

.navbar {
    background-color: rgba(68, 160, 66, 0);
    width: 100%;
    height: 100px;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    border-radius: 25px;
    

}

nav ul{
    display: flex;
    width: 100%;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 500px;
    
}

.navbar a,
.navbar a:visited {
    color: white;
    text-decoration: none;
}

.home-logo{
    width: 50px;
}

.home_link img {
    width: 10px;
}



.home-link:hover {
    color: rgb(0, 0, 0);
    transition: 0.3s;
    transform: scale(1.5);
}





.categorien {
    display: flex;
    max-width: 95%;
    gap: 20px;
    justify-content: space-evenly;
    margin: 10px auto;
}

.ontbijt {
    padding: 25px 14%;
    border-radius: 25px;
    background-color: rgba(0, 128, 0, 0);
    border: solid rgb(75, 133, 81) 2px;
    color: white;
    font-weight: bolder;
    
}

.lunch {
    padding: 25px 14%;
    border-radius: 25px;
    background-color: rgba(0, 128, 0, 0);
    border: solid rgb(75, 133, 81) 2px;
    color: white;
    font-weight: bolder;
    
}

.avondeten {
    padding: 25px 14%;
    border-radius: 25px;
    background-color: rgba(0, 128, 0, 0);
    border: solid rgb(75, 133, 81) 2px;
    color: white;
    font-weight: bolder;
    
}


main {
    text-align: center;
}

.hero {
    margin-bottom: 30%;
}

.hero_tekst {
    color: black;
    padding: 7%;
    width: 80%;
}

.hero_titel {
    font-size: 30px;
    color: white;
}

.hero_quote {
    font-size: 25px;
    color: rgb(23, 112, 48);
    margin-bottom: 4%;
    
}

.hero_buttons {
    display: flex;
    justify-content: center;
    gap: 4%;
    margin-top: 20px;
}

.contact-button {
    background-color: rgb(29, 115, 40);
    border: solid rgba(35, 158, 70, 0.997) 2px;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    justify-content: center;
    text-align: center;
}

.contact-button:hover {
    background-color: rgb(29, 115, 40);
    transition: 0.3s;
    transform: scale(1.1);
}

.Meer-button {
    background-color: rgb(29, 115, 40);
    border: solid rgba(35, 158, 70, 0.997) 2px;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    justify-content: center;
    text-align: center;
    
}

.Meer-button:hover {
    background-color: rgb(29, 115, 40);
    transition: 0.3s;
    transform: scale(1.1);
}

.hero_img {
    width: 300px;
    height: 300px;
    border-radius: 25px;
    margin: -300px auto;
    position: relative;
    margin-left: 100%;
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
}
   

.blok_container {
    display: grid;
    width: 95%;
    height: auto;
    grid-template-columns: 7fr 3fr;
    gap: 10px;
    margin: 0 auto;
    color: white;
}

.introtekst_blok {
    background-color: rgb(29, 115, 40);
    border: solid rgba(35, 158, 70, 0.997) 2px;
    height: 300px;
    border-radius: 25px;
    padding: 5%;
    box-sizing: border-box;
}

.introimage_blok {
    background-color: rgb(26, 100, 36);
    border: solid rgba(35, 158, 70, 0.997) 2px;
    height: 300px;
    border-radius: 25px;
    padding: 5%;
    box-sizing: border-box;
}


footer {
    background-color: rgb(29, 115, 40);
    border: solid rgba(35, 158, 70, 0.997) 2px;
    justify-content: center;
    text-align: center;
    padding: 20px;
    color: white;
    border-radius: 25px;
    width: 95%;
    display: flex;
    margin: 0px auto;
    margin-top: 30px;
}
