* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
   
    
}

 @font-face {
    font-family: 'font';
    src: url();
  }


.backgroundimg {
    position: fixed;
  inset: 0;
  z-index: -1;
  background-image: url("../IMAGES/Ontkoking\ background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(4px) brightness(80%);
}


header {
   font-size: 20px;
   text-transform: uppercase;
   margin-top: 20px;
   display: flex;
   justify-content: center;
}

.navbar {
    background-color: rgb(29, 115, 40);
    width: 95%;
    height: 100px;
    display: flex;
    position: sticky;
    border: solid rgba(35, 158, 70, 0.997) 2px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    direction: row;

}

nav ul{
    display: flex;
    width: 100%;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 500px;
    
}

.navbar a,
.navbar a:visited {
    color: white;
    text-decoration: none;
}



.home-link:hover {
    color: rgb(0, 0, 0);
    transition: 0.3s;
    transform: scale(1.5);
}


.home_logo {
    width: 100px;
}


.categorien {
    display: flex;
    width: 95%;
    gap: 20px;
    justify-content: space-evenly;
    margin: 0 auto
}

.ontbijt {
    padding: 50px 150px;
    border-radius: 25px;
    
}

.lunch {
    padding: 30px 150px;
    border-radius: 25px;
    
}

.avondeten {
    padding: 30px 150px;
    border-radius: 25px;
    
}


main {
    text-align: center;
}

.hero {
    margin-bottom: 30%;
}

.hero_tekst {
    color: black;
    padding: 13%;
    width: 80%;
}

.hero_titel {
    font-size: 30px;
    color: white;
}

.hero_quote {
    font-size: 25px;
    color: rgb(23, 112, 48);
    margin-bottom: 4%;
    
}

.hero_buttons {
    display: flex;
    justify-content: center;
    gap: 4%;
    margin-top: 20px;
}

.contact-button {
    background-color: rgb(29, 115, 40);
    border: solid rgba(35, 158, 70, 0.997) 2px;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    justify-content: center;
    text-align: center;
}

.contact-button:hover {
    background-color: rgb(29, 115, 40);
    transition: 0.3s;
    transform: scale(1.1);
}

.Meer-button {
    background-color: rgb(29, 115, 40);
    border: solid rgba(35, 158, 70, 0.997) 2px;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    justify-content: center;
    text-align: center;
    
}

.Meer-button:hover {
    background-color: rgb(29, 115, 40);
    transition: 0.3s;
    transform: scale(1.1);
}

.hero_img {
    width: 300px;
    height: 300px;
    border-radius: 25px;
    margin: -300px auto;
    position: relative;
    margin-left: 100%;
    background-image: url(../IMAGES/Ontkoking\ logo.png);
    background-size: cover;
    background-repeat: no-repeat;
}
   

.blok_container {
    display: grid;
    width: 95%;
    height: auto;
    grid-template-columns: 7fr 3fr;
    gap: 10px;
    margin: 0 auto;
    color: white;
}

.introtekst_blok {
    background-color: rgb(29, 115, 40);
    border: solid rgba(35, 158, 70, 0.997) 2px;
    height: 300px;
    border-radius: 25px;
    padding: 5%;
    box-sizing: border-box;
}

.introimage_blok {
    background-color: rgb(26, 100, 36);
    border: solid rgba(35, 158, 70, 0.997) 2px;
    height: 300px;
    border-radius: 25px;
    padding: 5%;
    box-sizing: border-box;
}


footer {
    background-color: rgb(29, 115, 40);
    border: solid rgba(35, 158, 70, 0.997) 2px;
    justify-content: center;
    text-align: center;
    padding: 20px;
    color: white;
    border-radius: 25px;
    width: 95%;
    display: flex;
    margin: 0px auto;
    margin-top: 30px;
}
